.time-area
{
    display: flex;
    flex-direction: row;
    padding: 64px 64px;
    font-size: 32px;
}

.value-container
{
    position: relative;
    height: 1em;
    width: 2ch;
}

.roller-scroll
{
    position: absolute;
    line-height: 1em;
    max-height: 1em;
    overflow: scroll;
    scrollbar-width: none;
    top: 0;
    transition: all 250ms;
    border-radius: 4px;
    scroll-snap-type: y mandatory;
    contain: content;
}

.roller-scroll::-webkit-scrollbar
{
    display: none;
}

.roller-scroll>div
{
    scroll-snap-align: start;
}

.roller-item
{
    opacity: 0.6;
    transition: all 100ms;
    font-weight: 300;
}

.roller-item.selected
{
    opacity: 1;
    font-weight: bold;
}

.roller-scroll.open
{
    max-height: 5em;
    top: -2em;
}

.minute-second-separator
{
    margin-left: 12px;
    margin-right: 12px;
    line-height: 1em;
}
