<div [ngClass]="cssClasses?.periodSelection">
    <div [ngClass]="cssClasses?.previousPeriod" (mousedown)="previousYear($event)"></div>
    <div [ngClass]="cssClasses?.periodValue" [class.clickable]="canGoUp" (mousedown)="goUp($event)">{{displayDate?.format('YYYY')}}</div>
    <div [ngClass]="cssClasses?.nextPeriod" (mousedown)="nextYear($event)"></div>
</div>

<div [ngClass]="cssClasses?.periodData">
    <div *ngFor="let month of periodData"
         [ngClass]="cssClasses?.periodDatum"
         [class.active]="month.active"
         [class.disabled]="month.disabled"
         (mousedown)="select($event, month)">{{month.name}}</div>
</div>