<div [ngClass]="cssClasses?.periodSelection | asRequiredType">
    <div [ngClass]="cssClasses?.previousPeriod | asRequiredType" (mousedown)="previousYear($event)"></div>
    <div [ngClass]="cssClasses?.periodValue | asRequiredType" [class.clickable]="canGoUp" (mousedown)="goUp($event)">{{displayDate?.format('yyyy')}}</div>
    <div [ngClass]="cssClasses?.nextPeriod | asRequiredType" (mousedown)="nextYear($event)"></div>
</div>

<div [ngClass]="cssClasses?.periodData | asRequiredType">
    <div *ngFor="let month of periodData"
         [ngClass]="cssClasses?.periodDatum | asRequiredType"
         [class.active]="month.active"
         [class.disabled]="month.disabled"
         (mousedown)="select($event, month)">{{month.name}}</div>
</div>