/.vscode
demo/
/tests
temp/
api-extractor.json
appveyor.yml
eslint.config.js
lerna.json
ngv.config.json
tsconfig.json
tsconfig.test.json
setup-jest.ts
jest.config.js
tsdoc-metadata.json

*.ts
!*.d.ts

*~
*.orig
*.log
*.spec.js
*.spec.d.ts