/.vscode
/tests
temp/
.eslintrc.json
api-extractor.json
appveyor.yml
ngv.config.json
tsconfig.json
tsconfig.test.json
setup-jest.ts
jest.config.js
tsdoc-metadata.json

*.ts
!*.d.ts

*~
*.orig
*.log
*.spec.js
*.spec.d.ts