@use 'sass:meta';
@use 'sass:map';

@use 'misc';
@use '../components/date-time-picker' as dateTimePicker;
@use '../components/month-calendar' as monthCalendar;

@mixin buildThemeColors($theme)
{
    @if $theme 
    {
        --datetime-date-time-picker-background: #{map.get(map.get($theme, 'dateTimePicker'), 'background')};
        --datetime-date-time-picker-border: #{map.get(map.get($theme, 'dateTimePicker'), 'border')};
        --datetime-date-time-picker-foreground: #{map.get(map.get($theme, 'dateTimePicker'), 'foreground')};
        --datetime-date-time-picker-period-datum-border: #{map.get(map.get(map.get($theme, 'dateTimePicker'), 'periodDatum'), 'border')};
        --datetime-date-time-picker-active-border: #{map.get(map.get(map.get($theme, 'dateTimePicker'), 'active'), 'border')};
        --datetime-date-time-picker-active-background: #{map.get(map.get(map.get($theme, 'dateTimePicker'), 'active'), 'background')};
        --datetime-date-time-picker-clickable-hover-background: #{map.get(map.get(map.get(map.get($theme, 'dateTimePicker'), 'clickable'), 'hover'), 'background')};
        --datetime-date-time-picker-clickable-hover-border: #{map.get(map.get(map.get(map.get($theme, 'dateTimePicker'), 'clickable'), 'hover'), 'border')};
        --datetime-date-time-picker-disabled-background: #{map.get(map.get(map.get($theme, 'dateTimePicker'), 'disabled'), 'background')};
        --datetime-date-time-picker-today-border: #{map.get(map.get(map.get($theme, 'dateTimePicker'), 'today'), 'border')};
        --datetime-day-picker-weekend-foreground: #{map.get(map.get(map.get($theme, 'dayPicker'), 'weekend'), 'foreground')};
        --datetime-month-calendar-weekend-foreground: #{map.get(map.get(map.get($theme, 'monthCalendar'), 'weekend'), 'foreground')};
        --datetime-month-calendar-other-month-background: #{map.get(map.get(map.get($theme, 'monthCalendar'), 'otherMonth'), 'background')};
    }
}

@mixin buildThemeCss
{
    @include misc.misc;
    @include misc.generate-margin-padding('margin', (none: 0, extra-small: 4px, small: 10px, medium: 15px, big: 20px));
    // @include misc.thin-scrollbar('--dynamic-thin-scrollbar');
    @include dateTimePicker.css;
    @include monthCalendar.css;
}

@mixin buildTheme($theme)
{
    @include buildThemeColors($theme);
    @include buildThemeCss;
}