<div [ngClass]="cssClasses.periodSelection | asRequired">
    <div [ngClass]="cssClasses.previousPeriod | asRequired" (mousedown)="previousDecade($event)"></div>
    <div [ngClass]="cssClasses.periodValue | asRequired" [class.clickable]="canGoUp" (mousedown)="goUp($event)">{{period}}</div>
    <div [ngClass]="cssClasses.nextPeriod | asRequired" (mousedown)="nextDecade($event)"></div>
</div>

<div [ngClass]="cssClasses.periodData | asRequired">
    <div *ngFor="let year of periodData"
         [ngClass]="cssClasses.periodDatum | asRequired"
         [class.active]="year.active"
         [class.disabled]="year.disabled"
         (mousedown)="select($event, year)">{{year.value}}</div>
</div>