<div *calendarDayTemplate="let data" class="default-calendar-day" [class.is-weekend]="data.isWeekend" [class.is-other-month]="!data.isCurrentMonth">{{data.day}}</div>

@for(dayName of weekDayNames; track dayName)
{
    <div [class.week-day-name]="dayName">{{dayName}}</div>
}

@for(weekData of calendarData | keyvalue; track weekData)
{
    <div class="week-number">
        @if(showWeekNumber)
        {
            {{weekData.key}}
        }
    </div>
    
    @for(dayData of weekData.value; track dayData)
    {
        <div [style.padding-bottom.%]="dayAspectRatioValue" class="day-wrapper">
            <div class="day-content"><ng-container *ngTemplateOutlet="calendarDayTemplate; context: {$implicit: dayData}"/></div>
        </div>
    }
}
