<div [ngClass]="cssClasses?.periodSelection">
    <div [ngClass]="cssClasses?.previousPeriod" (mousedown)="previousMonth($event)"></div>
    <div [ngClass]="cssClasses?.periodValue" [class.clickable]="canGoUp" (mousedown)="goUp($event)">{{displayDate?.format('MMMM YYYY')}}</div>
    <div [ngClass]="cssClasses?.nextPeriod" (mousedown)="nextMonth($event)"></div>
</div>

<div [ngClass]="cssClasses?.periodData">
    <div [ngClass]="cssClasses?.weekdayName" *ngFor="let weekday of weekdays">{{weekday}}</div>
    <div *ngFor="let day of periodData"
         [ngClass]="cssClasses?.periodDatum"
         [class.other-month]="day.otherMonth"
         [class.today]="day.today"
         [class.weekend]="day.weekend"
         [class.active]="day.active"
         [class.disabled]="day.disabled"
         (mousedown)="select($event, day)">{{day.day}}</div>
</div>