<div class="flex-row" style="justify-content: center;">
     <div [class.clickable]="canGoUp" (mousedown)="goUp($event)">{{displayDate?.value | dateFormat: 'date'}}</div>
</div>

<div class="time-area">
    <div class="value-container"
         [clickOutside]="true"
         (clickOutsideChange)="hoursOpen = false"
         [clickOutsideElement]="hoursScroll">
        <div #hoursScroll
             class="roller-scroll"
             [class.open]="hoursOpen"
             [loopScroll]="hour"
             [open]="hoursOpen"
             (loopScrollChange)="setHour(null, $event)"
             (click)="hoursOpen = !hoursOpen">
            <div *ngFor="let hour of hours | slice: -9"
                 [loopScrollData]="hour?.data"
                 [clone]="true"
                 (click)="setHour($event, hour?.data)">{{hour?.displayText}}</div>

            <div *ngFor="let hour of hours"
                 [loopScrollData]="hour?.data"
                 (click)="setHour($event, hour?.data)">{{hour?.displayText}}</div>

            <div *ngFor="let hour of hours | slice: 0: 9"
                 [loopScrollData]="hour?.data"
                 [clone]="true"
                 (click)="setHour($event, hour?.data)">{{hour?.displayText}}</div>
        </div>
    </div>

    <div class="minute-second-separator">:</div>

    <div class="value-container"
         [clickOutside]="true"
         (clickOutsideChange)="minutesOpen = false"
         [clickOutsideElement]="minutesScroll">
        <div #minutesScroll
             class="roller-scroll"
             [class.open]="minutesOpen"
             [loopScroll]="minute"
             [open]="minutesOpen"
             (loopScrollChange)="setMinute(null, $event)"
             (click)="minutesOpen = !minutesOpen">
            <div *ngFor="let minute of minutes | slice: -15"
                 [loopScrollData]="minute?.data"
                 [clone]="true"
                 (click)="setMinute($event, minute?.data)">{{minute?.displayText}}</div>

            <div *ngFor="let minute of minutes"
                 [loopScrollData]="minute?.data"
                 (click)="setMinute($event, minute?.data)">{{minute?.displayText}}</div>

            <div *ngFor="let minute of minutes | slice: 0: 15"
                 [loopScrollData]="minute?.data"
                 [clone]="true"
                 (click)="setMinute($event, minute?.data)">{{minute?.displayText}}</div>
        </div>
    </div>
</div>
