@use 'sass:map';
@use '../core/functions';
@use '../core/mixins';

$_darkDefaultTheme:
(
    dateTimePicker:
    (
        background: #111111,
        border: #EAEAEA,
        foreground: #FAFAFA,
        disabled:
        (
            background: #5B5B5B,
        ),
    ),
);

@function defineTheme($colors: (), $font: 'Inter')
{
    $colors: map.deep-merge($_darkDefaultTheme, $colors);

    @return functions.defineTheme($colors, $font);
}

@mixin buildTheme()
{
    @include mixins.buildTheme(defineTheme());
}