<div [ngClass]="cssClasses?.periodSelection">
    <div [ngClass]="cssClasses?.previousPeriod" (mousedown)="previousDecade($event)"></div>
    <div [ngClass]="cssClasses?.periodValue" [class.clickable]="canGoUp" (mousedown)="goUp($event)">{{period}}</div>
    <div [ngClass]="cssClasses?.nextPeriod" (mousedown)="nextDecade($event)"></div>
</div>

<div [ngClass]="cssClasses?.periodData">
    <div *ngFor="let year of periodData"
         [ngClass]="cssClasses?.periodDatum"
         [class.active]="year.active"
         [class.disabled]="year.disabled"
         (mousedown)="select($event, year)">{{year.value}}</div>
</div>