<div class="decade-selection">
    <div class="text-center fas fa-angle-left clickable" (mousedown)="previousDecade($event)"></div>
    <div class="text-center decade-value" [class.clickable]="canGoUp" (mousedown)="goUp($event)">{{period}}</div>
    <div class="text-center fas fa-angle-right clickable" (mousedown)="nextDecade($event)"></div>
</div>

<div class="decade">
    <div *ngFor="let year of periodData"
         class="year clickable"
         [class.active]="year.active"
         (mousedown)="select($event, year)">{{year.value}}</div>
</div>