@mixin css
{
    date-time-picker
    {
        display: inline-block;

        background-color: var(--datetime-date-time-picker-background);
        border: 1px solid var(--datetime-date-time-picker-border);
        color: var(--datetime-date-time-picker-foreground);
        border-radius: 6px;
        z-index: 123;
        padding: 4px 8px;

        .date-time-period
        {
            .period
            {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-template-rows: auto;
                align-items: center;
            }

            .period-value
            {
                font-weight: bold;
                text-align: center;
                border-radius: 4px;
            }

            .period-data
            {
                width: 280px;

                display: grid;
                grid-template-rows: auto;
                justify-items: stretch;
            }

            .period-datum
            {
                text-align: center;
                border-radius: 4px;
                border-width: 1px;
                border-style: solid;
                border-color: var(--datetime-date-time-picker-period-datum-border);
            }

            .active
            {
                border-color: var(--datetime-date-time-picker-active-border);
                background-color: var(--datetime-date-time-picker-active-background);
            }

            .fas
            {
                border-radius: 4px;
                padding-left: 6px;
                padding-right: 6px;
                cursor: pointer;
                font-weight: bold;
            }

            .clickable
            {
                transition: all 200ms;

                &:hover
                {
                    border-color: var(--datetime-date-time-picker-clickable-hover-border);
                    cursor: pointer;
                    background-color: var(--datetime-date-time-picker-clickable-hover-background);
                }
            }

            .disabled
            {
                opacity: 0.4;
                border-radius: 0;

                &:hover
                {
                    cursor: not-allowed;
                }

                &:not(.active)
                {
                    background-color: var(--datetime-date-time-picker-disabled-background);
                }
            }

            .today
            {
                border-color: var(--datetime-date-time-picker-today-border);
            }
        }

        year-picker
        {
            .period-data
            {
                grid-template-columns: repeat(5, 1fr);
            }
        }

        month-picker
        {
            .period-data
            {
                grid-template-columns: repeat(4, 1fr);
            }
        }
        
        day-picker
        {
            .period-data
            {
                grid-template-columns: repeat(7, 1fr);
            }
    
            .weekday
            {
                text-align: center;
                font-weight: bold;
                opacity: 0.7;
                margin-bottom: 6px;
            }
    
            .period-datum:not(.other-month)
            {
                font-weight: bold;
            }
    
            .other-month
            {
                opacity: 0.5;
            }

            .weekend
            {
                color: var(--datetime-day-picker-weekend-foreground);
            }

            .go-down-button
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 2px;

                .clickable
                {
                    padding: 2px 4px;
                    border-radius: 4px;
                }
            }
        }

        roller-time-picker
        {
            .time-area
            {
                display: flex;
                flex-direction: row;
                padding: 64px 64px;
                font-size: 32px;
            }

            .value-container
            {
                position: relative;
                height: 1em;
                width: 2ch;
            }

            .roller-scroll
            {
                position: absolute;
                line-height: 1em;
                max-height: 1em;
                overflow: scroll;
                scrollbar-width: none;
                top: 0;
                transition: all 250ms;
                border-radius: 4px;
                scroll-snap-type: y mandatory;
                contain: content;
            }

            .roller-scroll::-webkit-scrollbar
            {
                display: none;
            }

            .roller-scroll>div
            {
                scroll-snap-align: start;
            }

            .roller-item
            {
                opacity: 0.6;
                transition: all 100ms;
                font-weight: 300;
            }

            .roller-item.selected
            {
                opacity: 1;
                font-weight: bold;
            }

            .roller-scroll.open
            {
                max-height: 5em;
                top: -2em;
            }

            .minute-second-separator
            {
                margin-left: 12px;
                margin-right: 12px;
                line-height: 1em;
            }

        }
    }
}