<div class="date-time-flex-row" style="justify-content: center;">
     <div [class.clickable]="canScaleUp" (mousedown)="displayDate && canScaleUp ? scaleUpSubject.next(displayDate.value) : undefined">{{displayDate?.value | dateFormat: 'date'}}</div>
</div>

<div class="time-area">
    <div class="value-container"
         [clickOutside]="true"
         (clickOutsideChange)="hoursOpen = false"
         [clickOutsideElement]="hoursScroll">
        <div #hoursScroll
             class="roller-scroll"
             [class.open]="hoursOpen"
             [loopScroll]="hour"
             [open]="hoursOpen"
             (loopScrollChange)="setHour(null, $event)"
             (mousedown)="hoursOpen = !hoursOpen">
            @for(hour of hours | slice: -14; track hour)
            {
                <div [loopScrollData]="hour?.data"
                     [clone]="true"
                     class="roller-item"
                     (mousedown)="setHour($event, hour?.data)">{{hour?.displayText}}</div>
            }

            @for(hour of hours; track hour)
            {
                <div [loopScrollData]="hour?.data"
                     class="roller-item"
                     (mousedown)="setHour($event, hour?.data)">{{hour?.displayText}}</div>
            }

            @for(hour of hours | slice: 0: 14; track hour)
            {
                <div [loopScrollData]="hour?.data"
                     [clone]="true"
                     class="roller-item"
                     (mousedown)="setHour($event, hour?.data)">{{hour?.displayText}}</div>
            }
        </div>
    </div>

    <div class="minute-second-separator">:</div>

    <div class="value-container"
         [clickOutside]="true"
         (clickOutsideChange)="minutesOpen = false"
         [clickOutsideElement]="minutesScroll">
        <div #minutesScroll
             class="roller-scroll"
             [class.open]="minutesOpen"
             [loopScroll]="minute"
             [open]="minutesOpen"
             (loopScrollChange)="setMinute(null, $event)"
             (mousedown)="minutesOpen = !minutesOpen">
            @for(minute of minutes | slice: -14; track minute)
            {
                <div [loopScrollData]="minute?.data"
                     [clone]="true"
                     class="roller-item"
                     (mousedown)="setMinute($event, minute?.data)">{{minute?.displayText}}</div>
            }

            @for(minute of minutes; track minute)
            {
                <div [loopScrollData]="minute?.data"
                     class="roller-item"
                     (mousedown)="setMinute($event, minute?.data)">{{minute?.displayText}}</div>
            }

            @for(minute of minutes | slice: 0: 14; track minute)
            {
                <div [loopScrollData]="minute?.data"
                     [clone]="true"
                     class="roller-item"
                     (mousedown)="setMinute($event, minute?.data)">{{minute?.displayText}}</div>
            }
        </div>
    </div>
</div>
