<div class="period">
    <div class="fas fa-angle-left clickable" (mousedown)="previousYear()"></div>
    <div class="period-value" [class.clickable]="canScaleUp" (mousedown)="displayDate && canScaleUp ? scaleUpSubject.next(displayDate.value) : undefined">{{displayDate?.value | dateFormat: 'year'}}</div>
    <div class="fas fa-angle-right clickable" (mousedown)="nextYear()"></div>
</div>

<div class="period-data">
    <div *ngFor="let month of periodData"
         class="period-datum clickable"
         [class.active]="month.active"
         [class.disabled]="month.disabled"
         (mousedown)="canScaleDown && displayDate ? scaleDownSubject.next(month.dateObj.value) : selectMonth(month)">{{month.name}}</div>
</div>