<div class="period">
    <div class="fas fa-angle-left clickable" (mousedown)="previousMonth()"></div>
    <div class="period-value" [class.clickable]="canScaleUp" (mousedown)="displayDate && canScaleUp ? scaleUpSubject.next(displayDate.value) : undefined">{{displayDate?.value | dateFormat: 'monthName'}} {{displayDate?.value | dateFormat: 'year'}}</div>
    <div class="fas fa-angle-right clickable" (mousedown)="nextMonth()"></div>
</div>

<div class="period-data">
    <div class="weekday" *ngFor="let weekday of weekdays">{{weekday}}</div>
    <div *ngFor="let day of periodData"
         class="period-datum clickable"
         [class.other-month]="day.otherMonth"
         [class.today]="day.today"
         [class.weekend]="day.weekend"
         [class.active]="day.active"
         [class.disabled]="day.disabled"
         (mousedown)="selectDay(day)">{{day.day}}</div>
</div>

<div class="go-down-button" *ngIf="canScaleDown">
    <div [class.clickable]="canScaleDown" (mousedown)="displayDate ? scaleDownSubject.next(displayDate.value) : undefined">{{singleValue ? (singleValue.value | dateFormat: 'time') : '0:00'}}</div>
</div>