@use './theme';

//############## PICKER ##############
date-time-picker>div>*
{
    border-color: #333333;
    background-color: #FFFFFF;

    .today
    {
        border-color: #0077ff;
    }

    .weekend
    {
        color: #850000;
    }

    .active
    {
        background-color: #00c3ff;
    }

    .clickable:hover
    {
        background-color: #00e7ff;
    }

    .disabled:not(.active)
    {
        background-color: #CFCFCF;
    }
}